@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.hscrollbar::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
  height: 12px;
}

.hscrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-top: 4px solid #131313;        /* color of the tracking area */
  border-bottom: 4px solid #131313;
}

.hscrollbar::-webkit-scrollbar-thumb {
  background-color: #131313;    /* color of the scroll thumb */
}

.vscrollbar::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

.vscrollbar::-webkit-scrollbar-track {
  background: white;
  border-left: 4px solid #131313;        /* color of the tracking area */
  border-right: 4px solid #131313;
}

.vscrollbar::-webkit-scrollbar-thumb {
  background-color: #131313;    /* color of the scroll thumb */
}

